dist/
*.egg-info/
ut_result/
cov_result/
*/**/__pycache__
*/__pycache__
*/*.pyc
*/**/*.pyc
*/**/**/*.pyc
*/**/*~
*~
.idea/*
.coverage*
.logs
htmlcov
.*.swp
*.dylib*
*/*.dylib*
*.swp
*.swo
gen.yml
.mypy_cache
.vscode
tmp_*
.tmp_*
.ipynb_checkpoint/*
build/
.DS_Store
.venv

# big files
**/*.npy
**/*.pth.tar
**/*.pkl
**/*.xml
**/*.pt
**/*.hbir
**/*.dot
**/*.json
**/*.log
**/*.tar
**/*.tar.gz
**/*.tgz
**/*.zip
**/*.pth
**/*.rec
**/*.lmdb
**/*.params

# submit
plugins/k8s_submit/*.yaml

# git mergetool
*.orig

# docs
docs/_build
!docs/Makefile
!docs/source/_static/*.png
