include LICENSE
include License.md
include pyspatialml/apks/pyspatialml_xr_runner-debug.apk
include pyspatialml/apks/pyspatialml_spatial_runner-debug.apk
include securemr/license_header.txt
recursive-include securemr/viz *.js
recursive-include pyspatialml/xr_pipeline_runner/scripts *.py
recursive-include pyspatialml/spatial_pipeline_runner/scripts *.py
prune pyspatialml/spatial_pipeline_runner/.gradle
prune pyspatialml/spatial_pipeline_runner/.kotlin
prune pyspatialml/spatial_pipeline_runner/app/build
prune pyspatialml/xr_pipeline_runner/.gradle
prune pyspatialml/xr_pipeline_runner/.kotlin
prune pyspatialml/xr_pipeline_runner/app/build
prune tests
prune examples
prune external
prune scripts
prune skills
global-exclude __pycache__
global-exclude *.py[cod]
